body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 80px 0px 80px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

.top-button {
    background-color: #3882F6;
    border-radius: 5px;
    border: 0px;
    max-width: 80px;
}

li {
    list-style-type: none;

}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    padding: 0px;
}

.links {
    display: flex;
    margin-left: auto;
    gap: 28px;
}

footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    min-height: 55px;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
}

.top-content {
    display: flex;
    margin: 30px 0 30px 0;
}

.block-two-intro {
   font-size: 36px;
   font-weight: bolder;
   color: #1F2937;
   text-align: center;
}

.block-two-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.app-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}